{
	"extends": [
		"next/core-web-vitals",
		"standard",
		"plugin:tailwindcss/recommended",
		"prettier"
	],
"ignorePatterns":["./components/ui/**"],
	"rules": {
		"tailwindcss/no-custom-classname": "off",
		"no-useless-catch": "off"
	}
}
